body {
    font-family: 'Cambria', 'Georgia', serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

button {
    border: none;
}

.map-container {
    position: relative;
    width: 980px;
    height: 630px;
}

.button-bar {
    position: absolute;
    bottom: 18px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}

.friends-block {
    width: 536px;
    height: 63px;
    background: url('assets/images/friends-block.png') no-repeat center;
    display: flex;
    align-items: center; /* Выравниваем стрелки по центру по вертикали */
    position: relative; /* Для правильного позиционирования стрелок */
    padding: 0; /* Убираем внутренние отступы, чтобы стрелки не выходили за пределы */
}

.arrow-left,
.arrow-right {
    position: absolute; /* Позиционируем стрелки абсолютно внутри блока */
    width: 14px;
    height: 27px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 11px 18px;
    cursor: pointer;
}

.arrow-left {
    background: url('assets/images/arrow.png') no-repeat center;
    transform: rotate(180deg);
}

.arrow-right {
    right: 0;
    background: url('assets/images/arrow.png') no-repeat center;
}

.move-button {
    width: 202px;
    height: 63px;
    font-size: 31px;
    color: white;
    cursor: pointer;
    background: url('assets/images/button-active.png') no-repeat center;
}

.rating-button {
    width: 66px;
    height: 63px;
    background: url('assets/images/rating.png') no-repeat center;
    cursor: pointer;
}

.email-button {
    width: 66px;
    height: 63px;
    background: url('assets/images/email.png') no-repeat center;
    cursor: pointer;
}

.chat-button {
    width: 65px;
    height: 63px;
    background: url('assets/images/chat.png') no-repeat center;
    cursor: pointer;
}

.friends {
    width: 500px;
}

.friends-items {
    display: flex;
    justify-content: space-evenly;
    padding: 6px 35px;
    overflow: hidden;
}

.friends-icons {
    min-width: 50px;
    height: 51px;
    background: url('assets/images/friend-icon.png') no-repeat center;
    cursor: pointer;
    margin: 4px;
}

.person-icon {
    width: 28px;
    height: 38px;
    padding: 11px;
    background: url('assets/images/person-icon.png') no-repeat center;
}

.plus {
    position: absolute;
    width: 34px;
    height: 35px;
    background: url('assets/images/plus.png') no-repeat center;
    top: -28px;
    margin: 23px;
}
